<!-- 予約者が新規予約をするページ -->

<!--- 予約の初期登録ができる画面 ホストのみ利用可能--->
<p id="notice"><%= notice %></p>

<div class="toppage">
<h1 class="top">予約用カレンダー</h1>
<br>

<div class="row">
<div class="col-md-4">
	<div class="schedule">今後の予定一覧</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>日程</th>
    </tr>
  </thead>

  <tbody>
    <% @yoyakus.each do |yoyaku| %>
      <tr>
        <td><%= link_to yoyaku.title , yoyaku %></td>
        <td><%= yoyaku.start_time.strftime("%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with(model: @yoyaku, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :title %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>

    <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
  <% end %>
  </div>
<br>


<!-- <br> -->
<!-- <div class="col-md-8">
<%= month_calendar events: @yoyakus do |date, yoyakus| %>
  <%= date.day %>

  <% yoyakus.each do |yoyaku| %>
<div class="calendar__yoyaku">
    <div>
      <%= link_to yoyaku.title, yoyaku %> 
    </div>
  <% end %>
<% end %>
</div>
</div>
</div> -->