<!--- 予約の詳細が確認できる画面 ログインユーザー--->
<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>タイトル</strong>
  <%= @yoyaku.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @yoyaku.content %>
</p>

<p>
  <strong>日時</strong>
  <%= @yoyaku.start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_yoyaku_path(@yoyaku) %>
<%= link_to '消去',yoyaku_path(@yoyaku.id), method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', yoyakus_path %>
</div>